<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">

				<%- page.title %>
				
			</p>
			
		</div>
	</div>
</div>
<div class="hr">
</div>
<div class="row">
<div class="eight columns">
<%- page.content[0] %>
</div>
</div>