
<div id = "other">
<div class="control-group"  data-bind="validationElement: title">
    <label  class="control-label" for = "title">Title</label>
    <div class="controls">
        <input type="text" style = "width: 100%;"  name = "title" id = "title" data-bind="value: title, valueUpdate: 'afterkeydown'">
    </div>
</div>

<div class="control-group"  data-bind="validationElement: slug">
    <label  class="control-label" for = "slug">Slug</label>
    <div class="controls">
        <input type="text" style = "width: 100%;"  name = "slug" id = "slug" data-bind="value: slug, valueUpdate: 'afterkeydown'">
    </div>
</div>
<div align="right">
<div class="btn-group">
  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" style = "text-align:left">
    Add
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
     <li style = "text-align:left"><a data-bind="click: AddHtmlContent">Text</a></li>
     <li style = "text-align:left"><a data-bind="click: AddGalleryContent">A Gallery</a></li>
  </ul>
</div>
</div>

<div data-bind = "foreach: content" >
    <div data-bind="event: { mouseover: ToggleSelected, mouseout: ToggleSelected }" style="padding-top:50px;">
        <div>
            <button class="close pull-right" style = "display: inline" data-bind="click: $parent.Remove, visible: selected">&times;</button>
            <label data-bind="text: type"></label>
            
            <div class = "clearfix"></div>
        </div>
        <div  data-bind="template: template"></div>
    </div>
</div>

<br/>
<button data-bind="command: save" class="btn btn-success">Save</button>
</div>
<br /><br />

<script type="text/html" id = "html-content-template">
    
    <div style = "height:350px;width:100%;"  data-bind="htmlcontent: content" class = "uneditable-input" ></div>
</script>

<!--
        <div style = "height: 20px;">
                    <button class = "close"  data-bind="visible: selected, click: $parent.Remove" style = "position: relative;">&times</button>
                </div>
-->

<script type="text/html"  id = "gallery-content-template">
    <ul  class="thumbnails" data-bind = "sortable: { data : images }" >
    
        <li data-bind = "event: { mouseover: ToggleSelected, mouseout: ToggleSelected }">
            <div data-bind = "template: View" ></div>            
        </li>  
    </ul>
        
    <ul class="thumbnails">
            <li >
            <a href ="#"  data-bind = "click: ShowFileChooser"  class="thumbnail" style = "width: 150px; height: 150px;text-align: center;vertical-align: middle; display: table-cell; border-style: dashed" >
                Click here to upload an image
            </a>
            
            <input type="file" id = "file_upload" style = "display: none;" data-bind = "event: {change: UploadImage}"/>
                
        </li>
    </ul>
</script>

<script type="text/html" id = "gallery-content-template-edit">
     <div class = "thumbnail" style = "width: 700px; height: 400px;text-align: center;">
        <img data-bind = "attr: {src: image}" style = "max-width:95%; max-height: 300px;padding-bottom:15px">
        <textarea style = "width: 95%; height: 85px;" data-bind = "value:caption"></textarea>
        <div style = "text-align:right">
            <button class = "btn" data-bind = "click: $parent.GalleryMode">Close</button>
            <button class = "btn btn-danger" data-bind = "click: $parent.Remove">Remove</button>
        </div>
    </div>
</script>

<script type="text/html" id = "gallery-content-template-small">
    <div class = "thumbnail" style = "width: 150px;height: 150px;display: table-cell">
        <a href = "#" data-bind = "click: $parent.Edit">
            <img data-bind = "attr: {src: image}" style = "max-width:150px; max-height: 150px;padding-bottom:15px">
            <div data-bind = "text: caption" style = "max-width:150px; max-height: 25px;overflow-y:hidden"></div>
        </a>
    </div>
</script>